<div class="content">
  <div class="title">データ準備</div>
  <div class="step">
    <div class="message">
      {{ "dataPrepare-1" | translate }}
    </div>
    <img src="assets/youtube1.png" class="step-image" />
  </div>

  <div class="step">
    <div class="message">
      {{ "dataPrepare-2" | translate }}
    </div>
    <img src="assets/youtube2.png" class="step-image" />
  </div>

  <div class="step">
    <div class="message">
      {{ "dataPrepare-3" | translate }}
    </div>
    <img src="assets/youtube3.png" class="step-image" />
  </div>

  <div class="step">
    <div class="message">
      {{ "dataPrepare-4" | translate }}
    </div>
    <img src="assets/youtube4.png" class="step-image" />
  </div>
</div>
