<nav class="navbar navbar-title navbar-expand-lg bg-dark" data-bs-theme="dark">
    <a class="navbar-brand mx-auto title" routerLink="/">
      <img src="assets/logo-red.png" class="logo">history-view-tools</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
<nav class="navbar navbar-menu navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" routerLink="/dataset">インポート</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/analysis">グラフ表示</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/">データ履歴</a>
      </li>
    </ul>
  </div>
</nav>
