.layout-row {
  display: flex;
  width: 100%;
  gap: 20px; // 任意で余白をつけたい場合

  .import-box {
    flex: 4;
    padding: 16px;
  }

  .card-list {
    flex: 6;
    background-color: #e0e0e0; // デモ用
    padding: 16px;
  }
}
