<div class="content">
  <div class="title">{{ "analysis display" | translate }}</div>
  <div class="layout-row">
    <div class="edit-list">
      <ng-container *ngIf="datasetList$ | async as datasetList">
        <app-analysis-edit
          *ngIf="datasetList.length > 0"
          [datasetList]="datasetList"
          [channelList]="channelList$ | async"
        ></app-analysis-edit>

        <div *ngIf="datasetList.length === 0" class="no-dataset-message">
          {{ "データセットが登録されていません" | translate }}
        </div>
      </ng-container>
    </div>
    <div class="analysis-graph">
      <app-analysis-graph></app-analysis-graph>
    </div>
  </div>
</div>
