.layout-row {
  display: flex;
  width: 100%;
  gap: 20px; // 任意で余白をつけたい場合
  height: calc(100vh - 240px);

  .edit-list {
    flex: 4;
    padding: 16px;
  }

  .analysis-graph {
    flex: 6;
    background-color: #e0e0e0; // デモ用
    padding: 16px;
  }
}
.no-dataset-message {
  color: #ff0000; /* 赤色 */
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
