/* app.component.scss */

  
.layout {
  display: flex;
  height: 100vh;
}
  
.content {
  background-color: #FFFFFF;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: calc(100vh - 30px);
  box-sizing: border-box;
  min-width: 1500px;
  margin-right: 120px; /* 右側に余白を追加 */
}

.lapper {
  width: 100%;
  background-color: #E2E2E2;
}

.nav {
  background-color: #E2E2E2;
}